*~
*.bib
.ropeproject
master.pdf
*.bbl
*.nls
*.blg
*.maf
*.ptc
*.ist
*.aux
*.nlo
*.lof
*.idx
*.plc
*.glg
*.ilg
*.toc
*.log
*.plf
*.gls
*.acn
*.lot
*.out
*.mtc*
*.plt
*.glo
*.acr
*.alg
*/*.aux
*/*/*.aux
